@{
    ViewData["Title"] = "Admin";
}

<div>
    <a asp-action="User" asp-controller="Manage">Manage Users</a>
</div>

<div>
    <a asp-action="Residence" asp-controller="Manage">Manage Residences</a>
</div>

<div>
    <a asp-action="Locations" asp-controller="Manage">Manage Locations</a>
</div>
